.cell {
    border-style: solid;
    border-width: 2px;
    border-color: #a9a9a9;
}

.row {
    display: flex;
}

.controls{
    position: relative;
}

.controlsN {
    position: absolute;
    left: 40%;
    top: 10%;
}