.cell {
    border-style: solid;
    border-width: 2px;
    border-color: #a9a9a9;
}

.row {
    display: flex;
}

.controls{
    position: relative;
    width: 100%;
}

.control {
    position: absolute;
    cursor: pointer;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    background-color: rgb(13, 158, 0);
}

.end {
    background-color: rgb(182, 0, 0);
}

.path {
    background-color: #1c58ff;
}
