button {
    margin: 10px;
}

.cell {
    border-style: solid;
    border-width: 2px;
    border-color: #a9a9a9;
}

.row {
    display: flex;
}

.controls{
    position: relative;
}

.controlsNS {
    position: absolute;
    left: 40%;
}

.controlsE {
    position: absolute;
    left: 70%;
}

.controlsW {
    position: absolute;
    left: 10%;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    background-color: greenyellow;
}

.end {
    background-color: red;
}

